.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-list {
  padding: 10px;
}

.track-list li {
  list-style: none;
  display: flex;
  margin: 10px 0;
}

.track-list li h1 {
  flex: 1;
  font-size: 20px;
}

.track-list li img {
  height: 120px;
  margin-right: 10px;
}
